* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 4rem;
}

.main-container {
    display: flex;
    justify-content: space-around;
}

.head h1 {
    width: 260px;
    color: #511C4D;
}

.head p {
    width: 340px;
    margin-top: 2rem;
    color: #847C83;
}

.rate-one {
    padding: 1rem;
    background-color: #F7F2F8;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem 0;
}
.rate-two {
    padding: 1rem;
    background-color: #F7F2F8;
    padding: 1rem;
    border-radius: 1rem;
    margin: 0 0 0 2rem ;
}
.rate-there {
    background-color: #F7F2F8;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem 0 0 4rem;
}

.rating span {
    padding: 0 1rem;
}

.cards-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 4rem;
    color: white;
    
}

.card-one {
    width: 280px;
    height: 240px;
    padding: 1.5rem;
    background-color: #511C4D;
    border-radius: 0.5rem;
}

.card-two {
    width: 280px;
    height: 240px;
    padding: 1.5rem;
    margin-top: 1.5rem;
    background-color: #511C4D;
    border-radius: 0.5rem;
}
.card-there {
    width: 280px;
    height: 240px;
    padding: 1.5rem;
    margin-top: 3rem;
    background-color: #511C4D;
    border-radius: 0.5rem;
}

.card-img {
    border-radius: 50%;
    width: 40px;
}

.card-head {
    display: flex;
    gap: 1rem;
}

.card-head p {
    color: #AC6297;
}

.card-details {
    margin-top: 2rem;
}